<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/thirdparties/bootstrap/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    {{! <link rel="stylesheet" href="/stylesheets/users.css"> }}
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />

    <script src="https://js.pusher.com/7.2/pusher.min.js"></script>
  </head>
  <body>

    {{{body}}}

    <script src="/thirdparties/jquery/jquery.min.js"></script>
    <script src="/thirdparties/bootstrap/js/bootstrap.min.js"></script>
    <script src="/thirdparties/axios/axios.min.js"></script>
    <script src="/custom/javascript/script.js"></script>
  </body>
</html>