<header id="users-display">
<h1>USERS</h1>
<div class = "icons">
<a href = "#"><i class="fas fa-archive"></i></a>
<div class = "notification">
  <a href = "#">
  <div class = "notBtn" href = "#">
    <!--Number supports double digets and automaticly hides itself when there is nothing between divs -->
    <div class = "number" id="number">1</div>
    <i class="fas fa-bell"></i>
      <div class = "box">
        <div class = "display">
          <div class = "nothing"> 
            <i class="fas fa-child stick"></i> 
            <div class = "cent">Looks Like your all caught up!</div>
          </div>
          <div class = "cont"><!-- Fold this div and try deleting evrything inbetween -->
             <div class = "sec ">
               <div class = "profCont">
               <img class = "profile" src = "https://c1.staticflickr.com/5/4007/4626436851_5629a97f30_b.jpg">
                </div>
               <div class = "txt">Bright: "Cyclobold"</div>
              <div class = "txt ">Default, nothing to display, beg admin to push something</div>
            </div>
            
           
         </div>
        </div>
     </div>
  </div>
    </a>
</div>
<a href = "#"><i class="fas fa-edit"></i></a>
</div>
</header>